.book-list-container {
  padding: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
}

.book-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.book-author {
  font-style: italic;
  margin-top: 10px;
}

.book-synopsis {
  margin: 10px 0;
  font-size: 0.9em;
  color: #666;
}

.availability {
  margin-top: 10px;
  font-weight: bold;
}

.available {
  color: green;
}

.unavailable {
  color: red;
}

.borrow-button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #070769;
  color: white;
  cursor: pointer;
}

.borrow-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #070769;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #5050a5;
}
