/* Login.css */
/* Para centrar el contenedor del formulario */
.container {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  min-height: 100vh;        /* Make sure it takes the full height of the viewport */
  padding: 20px;            /* Add some padding for smaller screens */
  box-sizing: border-box;    /* Include padding in the width calculations */
}

/* Estilo del formulario de login */
.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}


.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #070769;
  font-size: 24px;
  font-weight: bold;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #070769;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
